<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hannea.dao.MITMallManageRoleResourceDao">
    <select id="selectByRoleAndResource" resultType="com.hannea.model.MITMallManageRoleResource">
        select roleResourceId,roleId,resourceId,createBy,createTime,mallId
        from mit_mall_manage_role_resource
        where 1=1
        and roleId in
        <foreach collection="roleList" index="index1" item="item1" close=")" open="(" separator=",">
            #{item1.roleId}
        </foreach>
        and resourceId in
        <foreach collection="resourceList" index="index2" item="item2" close=")" open="(" separator=",">
            #{item2.resourceId}
        </foreach>
        and roleResourceStatus = 1
        and mallId = #{mallId}
    </select>

    <select id="selectResourceByMallAndUser" resultType="com.hannea.model.MITMallManageResource">
        select DISTINCT mr.*
        from mit_mall_manage_resource mr
        ,    mit_mall_manage_user_role mur
        ,    mit_mall_manage_role_resource mrr
        where 1=1
        and mur.roleId = mrr.roleId
        and mr.resourceId = mrr.resourceId
        and mr.resourceStatus = 1
        and mur.userRoleStatus = 1
        and mrr.roleResourceStatus = 1
        and mr.resourceType = 1
        and mur.userId = #{userId}
        and mur.mallId = #{mallId}
        and mrr.mallId = #{mallId}
        order by mr.resourceId
    </select>

    <select id="selectResourceByMallAndRole" resultType="com.hannea.model.MITMallManageResource">
        select mr.*
        from mit_mall_manage_resource mr
        ,    mit_mall_manage_role_resource mrr
        where 1=1
        and mr.resourceId = mrr.resourceId
        and mr.resourceStatus = 1
        and mrr.roleResourceStatus = 1
        and mr.resourceType = 1
        and mrr.roleId = #{roleId}
        and mrr.mallId = #{mallId}
    </select>

    <insert id="batchInsert">
        insert into `mit-user`.`mit_mall_manage_role_resource` ( `roleResourceId`, `mallId`, `roleId`, `resourceId`, `roleResourceStatus`, `createBy`, `createTime`)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.roleResourceId},#{item.mallId},#{item.roleId},#{item.resourceId},#{item.roleResourceStatus}, #{item.createBy}, #{item.createTime})
        </foreach>
    </insert>

    <delete id="deleteResource">
        DELETE FROM mit_mall_manage_role_resource
        where roleId = #{roleId}
    </delete>
</mapper>